@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;700&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.sans {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

a {
  outline: none;
  text-decoration: none;
  color: #000;
}

ul {
  display: block;
}

.tab {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  text-align: center;
  z-index: 8;
}

.tab a {
  font-size: 12px;
}

/* HEADER */

header {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.header-header p {
  height: 30px;
  background-color: #000;
  text-align: center;
  position: relative;
}

.header-header p a {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
}

.header-main {
  position: relative;
}

/* CATEGORY */

.header-main .category {
  position: absolute;
  top: 20px;
  left: 50px;
}

.category .category-li {
  padding: 10px 0;
  padding-bottom: 10px;
  height: 30px;
}

.category .category-hover {
  overflow: hidden;
  transition: 0.5s;
}

.category .category-hover:hover {
  height: 300px;
}

.category-main:hover {
  text-decoration: underline;
}

.category-sub a:hover {
  text-decoration: underline;
}

.category-li ul li {
  margin-left: 20px;
}

.category .search input {
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  color: #000;
  background-color: transparent;
}

.category-li a,
.search input,
main .title h3 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
}

/* LOGO */

.logo {
  padding-top: 20px;
  background-image: url(./contact-us-img/bg_header-01.png);
  background-repeat: repeat;
}

.logo a {
  width: 135px;
  display: block;
  margin: 0 auto;
}

.logo img {
}

/* SHOP */

.shop {
  position: absolute;
  right: 0;
  top: 20px;
  margin: 0 50px;
}

.arrow::after {
  content: "";
  position: absolute;
  background-image: url(./contact-us-img/left-arrow-svgrepo-com.svg);
  transform: rotate(-90deg);
  width: 10px;
  height: 10px;
  top: 3px;
}

.shop ul li {
  padding-left: 50px;
}

.shop ul li {
  float: left;
  margin: 0 10px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.shop input {
  position: fixed;
  left: -99999px;
}

.shop ul li .sub {
  display: none;
}

.shop #main:checked ~ .shop ul li .sub {
  display: block;
}

/* MAIN */

main {
  position: relative;
  padding-top: 240px;
}

.main-img {
  width: 50%;
}

.title h3 {
  text-align: center;
  margin: 40px 20px;
}

.section {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  margin-left: 100px;
}

.title h3 {
  padding: 30px 0;
}

.section .main-img img {
  width: 90%;
}

.section .main-text p {
  font-size: 12px;
}

.section .main-text .line {
  border-bottom: 1px solid #000;
}

.section .main-text .input_Btn {
  display: block;
  border: 1px solid black;
  padding: 10px 15px;
  text-align: center;
  background-color: #000;
  width: 200px;
}

.section .main-text .input_Btn a {
  color: #fff;
}

/* FOOTER */

footer h3,
footer .social {
  font-family: "Playfair Display", serif;
}

footer h3 {
  margin: 0 0 15px;
  font-size: 20px;
  font-weight: 400;
}

footer a {
  font-size: 14px;
}

footer {
  position: absolute;
  width: 100%;
  padding: 50px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.4;
}

.footer-box {
  width: 100%;
  border-top: 1px solid black;
  padding-top: 50px;
  display: flex;
  align-items: flex-start;
}

.footer-inner {
  margin-bottom: 50px;
  padding: 0 15px 0 15px;
  flex: 1 1 25%;
}

.footer-inner:nth-child(1) {
  padding-left: 0;
  padding-right: 20px;
}

.footer-inner:nth-child(2),
.footer-inner:nth-child(3),
.footer-inner:nth-child(4),
.footer-inner:nth-child(5) {
  max-width: 200px;
}

.footer-inner p {
  margin: 0 0 20px;
}

.footer-inner ul li {
  padding: 0 30px 5px 0;
}

.footer-customer a {
  font-size: 10px;
}
