* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

body #link {
  text-align: center;
  color: white;
  background-color: #000000;
  font-size: 12px;
  height: 30px;
  line-height: 31px; /** 정의 찾기 **/
  font-weight: 500;
  letter-spacing: -0.03em;
}

body #link:first-child {
  background-color: #a9a9a9;
  height: 30px;
}

body #link:hover {
  text-decoration: underline;
}

[href]:visited {
  color: rgb(255, 255, 255);
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}

li:hover {
  text-decoration: underline;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.list {
  /* position: relative; */
  /* top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  padding: 20px 50px 0 50px;
  text-decoration: none;
  margin: 0 auto;
}

#left > li:nth-child(3),
:nth-child(4):hover {
  cursor: pointer;
}

#shop {
  position: relative;
  /* touch-action: manipulation; */
}

#shoplist {
  /* overflow: hidden;
  height: 0; */
}

#shoplist > li {
  transition: height 0.2s ease;
  height: 0;
  position: absolute;
  overflow: hidden;
}

#shop:hover > #shoplist > li {
  box-sizing: border-box;
  height: 600px;
}

/* header nav */
.nav {
  width: 50%;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

#login_icon,
#cart-icon {
  display: none;
}

.nav_wrapper {
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.nav_language {
  display: flex;
  flex-direction: column;
}
.menu_language {
  display: flex;
}
.menu_language > p:hover {
  text-decoration: underline;
}
input#toggle {
  display: none;
}
.sub_language {
  display: none;
}
input#toggle:checked + .sub_language {
  display: block;
}

.sub_language_list > li {
  margin: 0;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 48;
}

/* 로고 */
header > div > div > a {
  /* position: absolute; */
  /* position: relative; */
  /* z-index: 100; */

  /* display: inline-block; */
  /* margin: 0 auto; */
  /* transform: translateX(50%); */
  /* transform: translate(-50%); */
}

.logo > a {
  /* background: none !important; */
  /* margin: 0 auto; */
}

#logo {
  /* background: none !important; */
  /* display: inline-block; */
  top: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  /* box-sizing: border-box; */
  /* width: 100%; */
  /* display: flex;
  margin: 0 auto; */
}

main {
  /* padding-top: 0 !important; */
  /* display: inline-block; */
  position: relative;
  top: -174px;
  width: 100%;
}

/* 메인 이미지 */
.main img {
  vertical-align: top;
  width: 100%;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.allcard {
  /* width: 100%; */
  /* height: 340px; */
  display: flex;
  /* object-fit: cover; */
  /* text-align: center; */
  /* flex-direction: row; */
  /* margin: -1px auto; */
  /* align-items: flex-start; */
  /* margin-bottom: 100px; */
  /* object-position: 200%; */
}

.allcard > div {
  position: relative;
  width: 33.33%;
}

.card3 {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.bestseller {
  width: 100%;
  margin-top: 10%;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 1.7rem;
  font-weight: lighter;
}

.bestsellerkr {
  text-align: center;
  width: 100%;
  padding: 0;
  margin-bottom: 10%;
}

#bestsellerphoto {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.more {
  /* margin: 100px; */
  width: 100%;
  margin: 100px 0;
  text-align: center;
}

.button {
  color: black;
  padding: 8px 28px 8px 28px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid black;
  display: inline-block;
}

.linestyle {
  margin: 0 auto;
  line-height: 0.15px;
  width: 94%;
}

.talkbutton {
  width: 80px;
  height: 80px;
  background-color: #d7d7d7;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  /* display: inline-block; */
  /* position: absolute; */
  right: 48px;
  bottom: 48px;
  position: fixed;
  /* transform: translate(-50%); */
  text-align: center;
  /* display: flex; */
  justify-self: center;
  align-items: center;
  /* line-height: 22px; */
  vertical-align: middle;
  padding-top: 15px;
}

/* .talktext {
  margin-top: 500px;
} */

.bottom-menu {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 50px 50px;
}
