/* footer */

footer {
  height: 110px;
  padding-top: 50px;
  margin: 0px 50px 200px 50px;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
footer ul > li {
  list-style-type: none;
  margin: 0;
}
h3 {
  font-weight: 500;
}
#time {
  font-size: 14px;
  color: rgb(94, 94, 94, 0.5);
  font-weight: bold;
}
#number {
  font-size: 27px;
  font-weight: 400;
  color: rgb(44, 44, 44);
}
#number span,
.schedule span {
  font-size: 12px;
  padding-right: 9px;
  margin-bottom: 6px;
}
.schedule {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.footer-item {
  margin-top: 15px;
  font-size: 12px;
}
.footer-item > a {
  text-decoration: none;
  color: black;
}

.footer-item > a:hover {
  text-decoration: underline;
}
.flex-start {
  margin-right: 15px;
}

.flexend {
  display: flex;
  width: 65%;
  justify-content: space-evenly;
}

.footer-items {
  margin: 0px 15px;
  min-width: 110px;
}

.footer-items:last-child {
  margin-right: 85px;
}

.footer-items > ul {
  font-size: 15px;
  margin-top: 13px;
}
.footer-items > ul > li {
  padding-bottom: 5px;
}
